# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.d]
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size	= 4
tab_width = 4
trim_trailing_whitespace = true
max_line_length	= 120
dfmt_brace_style = otbs
dfmt_soft_max_line_length = 80
dfmt_align_switch_statements = true
dfmt_space_after_keywords = true
dfmt_space_before_function_parameters = false
dfmt_selective_import_space = true
dfmt_template_constraint_style = conditional_newline_indent
